body {
    font-family: Arial, sans-serif;
    margin: 2%;
    color: #e9e9e9;
    background-color: #202020;
}

#time {
    font-size: 9em;
    text-align: center;
    margin-top: 1em;
    text-shadow: #282828 0px 0px 100px;
}

#date {
    font-size: 3em;
    text-align: center;
    margin-top: -2em;
    text-shadow: #282828 0px 0px 30px;
}
#musicPlayer {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    scrollbar-width: none;
}

#musicPlayerContainer {
    height: 90%;
    width: 100%;
    overflow: hidden;
}

#musicContainer {
    max-height: 100%;
    min-height: 10%;
    max-width: 25%;
    min-width: 10%;
    position: fixed;
    top: 0.5%;
    right: 0.5%;
    height: 50%;
    width: 25%;
    background-color: #242424;
    border-radius: 19px;
    border-width: 1em;
    border-color: #101010;
    padding: 0.4%;
    padding-bottom: 5%;
}

#musicChoice{
    border-radius: 12px;
    padding: 1%;
    font-size: 0.9em;
    width: 60%;
    height:em;
    color: #d6d6d6;
    background-color: #262626;
}

#loadMusic{
    border-radius: 12px;
    padding: 1%;
    font-size: 0.9em;
    width: 25%;
    height:em;
    color: #d6d6d6;
    background-color: #262626;
}

#collapseMusic{
    border-radius: 12px;
    padding: 1%;
    font-size: 0.9em;
    width: 5%;
    color: #d6d6d6;
    background-color: #262626;
}

#expandMusic{
    border-radius: 12px;
    padding: 1%;
    font-size: 0.7em;
    width: 5%;
    color: #d6d6d6;
    background-color: #262626;
}

#useBackgroundPhoto{
    position: fixed;
    left: 450px;
    top: 0.5%;
    border-radius: 12px;
    padding: 0.25%;
    color: #d6d6d6;
    background-color: #262626;
}
.placeholder {
    border-radius: 12px;
    width: 100%;
}

#body {
    top:calc(1% + 50px);
    margin: 1%;
    overflow: hidden;
}

#settingsButton:hover {
    background-color: #5e5e5e;
}

#weather {
    position: fixed;
    top: 1%;
    left: 1%;
    width: 400px;
    border-radius: 30px;
}

#duckduckgoSearch {
    text-align: center;
    border-radius: 25px;
    width: 35%;
    height: 35px;
    position: fixed;
    top: 50%;
    left: 32.5%;
    border-width: 5px;
}